<md-card>
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput #firstName maxlength="100" placeholder="First name" formControlName="firstName">
            <md-hint align="end">{{firstName.value.length}} / 100</md-hint>
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput #lastName maxlength="100" placeholder="Last Name" formControlName="lastName">
            <md-hint align="end">{{lastName.value.length}} / 100</md-hint>
          </md-input-container>
        </td>
      </tr>
    </table>
    <p>
      <md-input-container class="example-full-width">
        <input type="email" mdInput placeholder="Email" formControlName="email">
      </md-input-container>
      <md-input-container class="example-full-width">
        <input type="password" mdInput placeholder="Password" formControlName="password">
      </md-input-container>
      <md-input-container class="example-full-width">
        <input type="password" mdInput placeholder="Confirm Password" formControlName="confirmPassword">
        <md-hint align="end" *ngIf="form.errors?.misMatchPassword">password do not match...</md-hint>
        <!--<span *ngIf="form.errors?.misMatchPassword">password do not match...</span>-->
      </md-input-container>
    </p>
    <button md-raised-button color="primary">Register</button>
  </form>
</md-card>