<md-toolbar color="primary">
  <button md-button routerLink="/">Mana Cambodia</button>
  <span class="example-spacer"></span>
  <button md-button routerLink="/"><md-icon>home</md-icon></button>
  <button md-button routerLink="/messages"><md-icon>message</md-icon></button>
  <span class="example-spacer"></span>
  <button md-button [mdMenuTriggerFor]="menu"><md-icon>menu</md-icon></button>
</md-toolbar>

<md-menu #menu="mdMenu">
  <button md-menu-item>Settings</button>
  <button md-menu-item>Help</button>
</md-menu>
